
.card-size{
    width: 350px;
    border-radius: 10px;
    float: left;
    margin:25px;
}

.col1{
    margin-left: 310px;
    border: 2px solid red;
    width: 900px;
}
.color1{
    background-color: rgb(219, 245, 220);
}
.color2{
    background-color: rgb(250, 228, 195);
}
.color3{
    background-color: rgb(250, 218, 210);
}
.fa{
    font-size: 30px;
}
.col{
    border: 2px solid blue;
}
.card-size{
    border: 2px solid orange; 
}
.row{
    width: 100%;
}