
.card{
    width: 350px;
    margin-left: 300px;
    float: left;
    margin-left: 72px;
    border-radius: 10px;
    margin-top: 40px;
}
.row1{
    width: 82%;
    margin-left: 300px;
    height: 180px;
}
.color1{
    background-color: rgb(219, 245, 220);
}
.color2{
    background-color: rgb(250, 228, 195);
}
.color3{
    background-color: rgb(250, 218, 210);
}
.fa{
    font-size: 30px;
}