<div class="borderLine"></div>

<div class="row">
  <div class="col-12 col col-lg-6">
    <div class="card card-table">
      <div class="card-header">
        <div class="title">Policy Details</div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-borderless">
          <tbody class="no-border-x">
            <tr>
              <th class="var-element">Product</th>
              <td class="mid-element">Subscribed</td>
              <td class="right-element">Gold Plan</td>
            </tr>
            <tr>
              <th class="var-element">Premium Monthly</th>
              <td class="number mid-element">€24.50</td>
              <td class="text-warning right-element">Pending Payment</td>
            </tr>
            <tr>
              <th class="var-element">Policy Started</th>
              <td class="mid-element">10 Jan, 2019</td>
              <td class="text-success right-element">OK</td>
            </tr>
            <tr>
              <th class="var-element">Insurance Expires</th>
              <td class="mid-element">31 Dec, 2019</td>
              <td><a class="renew-link right-element" href="#">Renew</a></td>
            </tr>
            <tr>
              <th class="var-element">Status</th>
              <td class="mid-element">Gold Plan</td>
              <td class="text-success right-element">Active</td>
            </tr>
            <tr>
                <th class="var-element">Message Services</th>
                <td class="number mid-element">€15 Monthly</td>
                <td class="text-danger right-element">Cancelled</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>