<div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">
		<!--begin::Portlet-->
<div class="k-portlet k-portlet--height-fluid-half k-widget-13">
	<div class="k-portlet__body">
		<div id="k-widget-slider-13-2" class="k-slider carousel slide" data-ride="carousel" data-interval="4000">
			<div class="k-slider__head">
				<div class="k-slider__label">Projects</div>
				<div class="k-slider__nav">
					<a class="k-slider__nav-prev carousel-control-prev" href="#k-widget-slider-13-2" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="k-slider__nav-next carousel-control-next" href="#k-widget-slider-13-2" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item k-slider__body">
					<div class="k-widget-13">
						<div class="k-widget-13__body">
							<a class="k-widget-13__title" href="#">Keen Admin Launch Day</a>
							<div class="k-widget-13__desc">
								To start a blog, think of a topic about and first brainstorm party is ways to write details
							</div>
						</div>
						<div class="k-widget-13__foot">
							<div class="k-widget-13__progress">
								<div class="k-widget-13__progress-info">
									<div class="k-widget-13__progress-status">
										Progress
									</div>
									<div class="k-widget-13__progress-value">78%</div>
								</div>
								<div class="progress">
									<div class="progress-bar k-bg-brand" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item k-slider__body">
					<div class="k-widget-13">
						<div class="k-widget-13__body">
							<a class="k-widget-13__title" href="#">First Milestone Achivement</a>
							<div class="k-widget-13__desc">
								To start a blog, think of a topic about and first brainstorm party is ways to write details
							</div>
						</div>
						<div class="k-widget-13__foot">
							<div class="k-widget-13__progress">
								<div class="k-widget-13__progress-info">
									<div class="k-widget-13__progress-status">
										Progress
									</div>
									<div class="k-widget-13__progress-value">55%</div>
								</div>
								<div class="progress">
									<div class="progress-bar k-bg-brand" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item k-slider__body active">
					<div class="k-widget-13">
						<div class="k-widget-13__body">
							<a class="k-widget-13__title" href="#">Reached 50,000 sales</a>
							<div class="k-widget-13__desc">
								To start a blog, think of a topic about and first brainstorm party is ways to write details
							</div>
						</div>
						<div class="k-widget-13__foot">
							<div class="k-widget-13__progress">
								<div class="k-widget-13__progress-info">
									<div class="k-widget-13__progress-status">
										Progress
									</div>
									<div class="k-widget-13__progress-value">24%</div>
								</div>
								<div class="progress">
									<div class="progress-bar k-bg-brand" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
	</div>